#board {
    display: grid;
    grid-template-columns: repeat(10, 35px);
    grid-template-rows: repeat(10, 35px);
}


@media screen and (max-width: 900px) {
    #board {
        display: grid;
        grid-template-columns: repeat(10, 25px);
        grid-template-rows: repeat(10, 25px);
    }
}